<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JobFinder</title>
</head>
<body>
  <h1>Welcome Joseph !</h1>
  <p><%= locals.message  %></p>
  <form action="building" method="post">
    <label for="queryParameter">Job Title & Location</label>
    <input type="text" id="queryParameter" name="queryParameter" placeholder="eg: web development in chicago">
    <br>
    <label for="datePosted">Date Posted</label>
    <select name="datePosted" id="datePosted">
      <option value="all">all</option>
      <option value="today">today</option>
      <option value="week">This week</option>
      <option value="month">This month</option>
    </select>
    <br>
    <label for="employmentType">Employment Type</label>
    <input type="text" name="employmentType" id="employmentType" placeholder="FULLTIME, CONTRACTOR, PARTTIME, INTERN">   
    <br>
    <label for="experience">Experience</label>
    <select name="experience" id="experience">
      <option value="no_experience">Fresher</option>
      <option value="under_3_years_experience">under 3 years experience</option>
      <option value="more_than_3_years_experience">more than 3 years experience</option>
    </select>
    <br>
    <label for="remoteJob">Looking for remote job?</label>
    <select name="remoteJob" id="remoteJob">
      <option value="true">Yes</option>
      <option value="false">not Interested</option>
      <option value="Do not include in request">Do not include in request</option>
    </select>
    <input type="submit" value="submit">

    <% if(locals.jobs){ %>
      <div>
        <% jobs.forEach((job)=>{ %>
          <div style="background-color: bisque;">
          <h3>Company Details</h3>
          <p>Company Name : <%=job.employer_name  %></p>
          <p>Company logo : <%=job.employer_logo  %></p>
          <p>Company Website : <%=job.employer_website  %></p>
          <p>Company Type : <%=job.employer_company_type  %></p>
          <p>Company Name : <%=job.employer_name  %></p>

          </div>
          <br>
          <div style="background-color: aquamarine;">
          <h3>Job Detail</h3>
          <p>Job Title : <%=job.job_title  %> Job Type : <%=job.job_employment_type  %></p>

          <p>Description :<br> <%- job.job_description.replace(/\n/g, '<br>') -%></p>


          
          </div>

          <div style="background-color: rgb(135, 115, 85);">
            <h3>Apply Options</h3>
            <% job.apply_options.forEach((option)=>{ %>
              <p>Publisher : <%=option.publisher %></p>
              <p>Apply Link : <%=option.apply_link  %></p>
              <p>Diredct Apply: <%=option.is_direct %></p>
              
              <% }) %>
              
            
          </div>
        <% }) %>  
      </div>
    <% } %>  


  </form>
</body>
</html>